body {
    background: #D7DEE4;
    height: 100%;
}

.navbar {
    background: #E8ECEF !important;
    /* min-height: 100px !important; */
    margin-bottom:0;
    border-radius:0;
    padding: 0;
    /* margin-top:30px; */
    font-weight: bold;
    font-size: 25px;
}
  .navbar-light .navbar-text {
    color: #9C9EA0 !important;
  }
  .navbar-light .navbar-nav > li > a {
    padding: 15px 30px !important;
    color: #9C9EA0 !important;
  }
  .navbar-light .navbar-nav > li > a:hover,
  .navbar-light .navbar-nav > li > a:focus {
    color: #E8ECEF !important;
    background-color: #92A7BA !important;
    cursor: pointer;
  }
  .navbar-light .navbar-nav > .active > a,
  .navbar-light .navbar-nav > .active > a:hover,
  .navbar-light .navbar-nav > .active > a:focus {
    color: #E8ECEF !important;
    background-color: #92A7BA !important;
  }
  .navbar-light .navbar-nav > .open > a,
  .navbar-light .navbar-nav > .open > a:hover,
  .navbar-light .navbar-nav > .open > a:focus {
    color: #E8ECEF !important;
    background-color: #92A7BA !important;
  }

.navbar-light .nav-link {
    color: #E8ECEF !important;
}

.navbar-light .nav-link:hover {
    color: #B7D1E2  !important;
}


.title {
    /* position: relative; */
    /* width: 75%;
    left: 50%;
    transform: translate(-50%); */
    /* padding: 2.5vh 10%; */
    /* height: 125px; */
    /* display: flex; */
    /* white-space: nowrap; */
    /* text-align: center; */
}

#title h1 {
    color: #9C9EA0 !important;
    font-weight: bold;
}

.logo {
    /* display: inline;
    position: relative;
    background-color: #000;
    border-radius: 50%;
    width: 5vw;
    height: 100%;
    text-align: center;
    line-height: 100%;
    top: 0;
    bottom:0; */
}

/* .logo a {
    position: relative;
    top: 50%;
    bottom: 0;
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
    transform: translate(0, -50%);
} */

#main {
    min-height: 100%;
    height: 100%;
}

/* Footer */
#footer{
    background:#6B7A99;
    color:#ffffff;
    text-align:center;
    padding:30px;
    margin-top:30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer .copyright {
    font-weight: bold;
}