.title {
    position: relative;
    /* width: 75%;
    left: 50%;
    transform: translate(-50%); */
    padding: 2.5vh 10%;
    height: 15vh;
    display: flex;
    white-space: nowrap;
    /* text-align: center; */
}

.logo {
    display: inline;
    position: relative;
    background-color: #000;
    border-radius: 50%;
    width: 5vw;
    height: 100%;
    text-align: center;
    line-height: 100%;
    top: 0;
    bottom:0;
}

.logo a {
    position: relative;
    top: 50%;
    bottom: 0;
    color: #fff;
    font-size: 1.5vw;
    text-decoration: none;
    transform: translate(0, -50%);
}

.title h1 {
    line-height: 10vh;
    display: inline; 
    white-space: nowrap;
}
